<h1>Wallet Form</h1>
<div style="width: 400px;">
    <form #accfrm="ngForm" (ngSubmit)="onSubmit()">
        <div>Enter PhoneNo</div>
        <div>
            <div><input type="text" id="phoneNo" name="phoneNo" class="form-control" required #fromId="ngModel"  [(ngModel)]="walletAcc.phoneNo"/></div>
            <div class="alert alert-danger" *ngIf="fromId.invalid && fromId.touched">PhoneNo  is required</div>
        </div>
        <div>Enter Username</div>
        <div>
            <div><input type="text" id="userName" name="userName" class="form-control" required #fromId="ngModel"  [(ngModel)]="walletAcc.userName"/></div>
            <div class="alert alert-danger" *ngIf="fromId.invalid && fromId.touched">Username  is required</div>
        </div>
        <div>Enter Password</div>
        <div>
            <div><input type="text" id="password" name="password" class="form-control" required #fromId="ngModel"  [(ngModel)]="walletAcc.password"/></div>
            <div class="alert alert-danger" *ngIf="fromId.invalid && fromId.touched">Password  is required</div>
        </div>
        <div>Enter Balance</div>
        <div>
            <div><input type="text" id="balance" name="balance" class="form-control" required #fromId="ngModel"  [(ngModel)]="walletAcc.balance"/></div>
            <div class="alert alert-danger" *ngIf="fromId.invalid && fromId.touched">Balance  is required</div>
        </div>
        <button type="submit" class="btn-success p-1 m-1 " [disabled]="!accfrm.valid" >Create Wallet Account</button>
    </form>
    <div [hidden]="!submitted">
        <h4> Wallet Account Created Succcessfully</h4>
     </div>
</div>